/* The navigation bar */
.navbar {
    overflow: visible;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    height: fit-content; /* Full width */
    width: 100%;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: rgb(221, 45, 45);
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top:1530px; /* Add a top margin to avoid content overlay */
    
    
  }

 