
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');
.content{
    
    max-width: 1600px;
    
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
   

}
.logo-icon-show {display: block;}
.logo_hide{
    display:none;
}



/* css para el header  */

header{
     
    background-color: white;
    width: 100%;
    margin-top: -10px;
    
}
#img-container{
    
    text-align: center;
    border-bottom: 1px solid black;
   
    
}


#img-container img{
    
   width: 150px;
   
}

header nav{
   
    
    display: flex;
    justify-content: space-around;
    align-items: center;
   

    
   
    
}
header nav >a{
   
    text-decoration: none;
    color: rgb(255, 255, 255);
    background:#fb8600d0;
    padding: 18px;
    margin-left: 40px;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: roboto;
   
    
}
header nav a:hover{
    background:#000000d0;
}

.social{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.social a img{
    width: 50px;
    border-radius: 10px;
    padding: 10px;
    grid-column: 1/2;
    
}



/* Estilos para imagen principal con el titulo*/ 


.head_img{
   display: grid;
   
   grid-template-columns: 1fr  ;
   grid-template-rows: 1fr;
 
   -webkit-transition: opacity 0.4s ease-in-out;
   -o-transition: opacity 0.4s ease-in-out;
   transition: opacity 0.4s ease-in-out;
   
    
}
.head_img img{
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
}

.head_img h1{
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    align-self: center;
    color: #ffffffff;
    padding: 30px;
    background: rgba(0, 0, 0, 0.468);
    font-size: 60px;
    font-family: Quicksand;
    text-decoration: underline;
    text-transform: uppercase;
}

/* estilos para las cajas de contenido */ 


.container_boxes{

    display: flex;
    justify-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
   
    


}
.img-box{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.container_boxes div{
    width: 33%;
    height: 300px;
    
}
div p{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    font-family: roboto;
    line-height: 25px;
    font-size: 18px;
    
}



/*estilos LAST WORDS*/

.last_words{
    display: flex;
    text-align: center;
    background:#bde0fe;
    height: 500px;
    margin-top: 300px;
    align-items: center;
    margin-bottom: 30px;
   

}

.last_words img{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    border-radius: 100px;
    margin-left: 100px;
    
}
.last_words p{
    font-size: 25px;
    font-family: roboto;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
   
}


/* css para el footer*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background-color: #000000b3;

}

footer p{
    color: white;
    font-family: roboto;
    font-size: large;
    text-align: center;
}
footer a{
    color: white;
}




/* Styles to the About us page*/

.grid_container{

    display: grid;
    grid-template-columns:repeat(6,1fr); 
    grid-template-rows:repeat(6,1fr); 
    height: 800px;
    border: 1px solid black;
    margin: 200px;
    
}

.grid_container > img{

    width: 100%;
   height: 100%;
    grid-column: 1/4;
    grid-row:1/7 ;
    margin-top: -100px;
    margin-left: 30px;
    border-radius: 10px;
}
.inner_box img{
    width: 300px;
    align-self: center;
    border-radius: 5px;
    border: 3px gray solid;
   
    
}
.grid_container > h1{
    grid-column: 4/7;   
    grid-row: 1/2;
    margin-top: -100px;
    font-size: 50px;
    font-family: Quicksand;
   
}
.grid_container div{
    display: flex;
    flex-direction: column;
    grid-column: 4/7;
    grid-row: 1/5;
    margin-top: 50px;
    
}
.grid_container div p{
    font-family: Quicksand;
    line-height: 30px;
    background-color: #fb86002e;
    padding: 30px;
}


/* Article style*/


.container_article h1{
    font-size: 70px;
    font-family: Quicksand;
}

.article-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.article-container img{
    width: 600px;
    height: 700px;
    justify-items: stretch;
    margin: 100px;
    border-radius: 20px;
}
.article-container p{
    line-height: 50px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
    font-family: Roboto;
}



