.container{
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr ;
}

 div div{
   
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    width: auto;
    height: auto;
    background: grey;
    align-self:initial;
   
}
h2{
    padding: 30px;
    font-size: 4em;
    color: rgb(107, 16, 16);

   
}

h1{
    grid-column: 1 / 3; 
    grid-row: 1/2;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 10em;
    align-self: center;

    
   

}
img{
    width: 100%;
}